* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.all_timer {
  display: flex;

    flex-wrap: wrap;
    flex-direction: column;
    
    }

.input {
    display: flex;
      justify-content: center;
      gap: 10px;


}
.timer {
  display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
      font-size: 20px;

}

#datetime-picker {
  border-radius: 50;
    height: 50px;
    padding-left: 60px;
    background-color: #740404;
      border: none;
color: white;
      transition: 0.2s;
}

#datetime-picker:hover {
  box-shadow: inset 1 1 10 3em #350101;

}

.button {
border-radius: 25% 10%;
width: 50px;
background-color: #740404;
border: none;
  color: white;
    transition: 0.25s;
    cursor: pointer;
}

.button:hover {
      box-shadow: inset 0 0 0 2em #2e0000;
}

.field {
  color: rgb(53, 3, 3);
  font-size: 25px;
}

.button_error {
  cursor: not-allowed;
  background-color: #918d8d;
    border: none;
    color: rgb(255, 255, 255);
}

.button_error:hover {
  box-shadow: inset 0 0 0 2em #858383;
}